<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_mime.c>
    AddType video/webm .webm
    AddType video/mp4 .mp4
    AddType video/ogg .ogv .ogg
    AddType audio/ogg .oga .ogg
    AddType audio/webm .webm
    AddType audio/mp4 .m4a
</IfModule>

<IfModule mod_headers.c>
    <Files "sw.js">
        Header always set Cache-Control "no-cache, no-store, must-revalidate"
    </Files>

    <FilesMatch "\.(?:avif|webp|woff2?)$">
        Header set Cache-Control "public, max-age=604800"
    </FilesMatch>

    <FilesMatch "\.(?:webm|mp4|ogv|m4a)$">
        Header set Access-Control-Allow-Origin "*"
        Header set Accept-Ranges bytes
        Header set Cache-Control "public, max-age=2592000"
    </FilesMatch>

    <FilesMatch "\.(?:css|js)$">
        Header always set Cache-Control "no-cache, must-revalidate"
    </FilesMatch>
</IfModule>
